{% extends "base.html"%}
{% block content %}
<div class="container">
    <div class="row"><div class="col col-sm-6 col-md-8 col-lg-10 col-xl-12 col-xxl-12">
        <table class="table">
            <table class="table">
                <thead>

                  <tr>
                    <th scope="col">Crime Description</th>
                    <th scope="col">Remarks</th>

                  </tr>

                </thead>
                <tbody>
                    {% for i in crime %}
                    <tr>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
              </table>
        </table>
    </div></div></div>
{% endblock %}